// VARIABLES
// Colours
$colour-main-text: #777;
$colour-white: #fff;
$colour-gray-light: #ccc;
$colour-primary: #58e1c1;
$colour-secondary: #51ddfc;
$colour-error: #e4757a;
$colour-info: #927bc1;
$colour-success: #63cc82;
$colour-warning: #fd7856;


// Font Stack
$font-stack-primary: 'Lato',
sans-serif;

// Border-radius
$border-radius: 5px;

// Breakpoints
$small-screen: 480px;
$medium-screen: 768px;
$large-screen: 1024px;