.btn {
  margin-top: 15px;
  width: 100%;
  color: $colour-white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;

  @include mq(md) {
    padding: 10px 30px;
  }

  &+.btn {
    @include mq(md) {
      margin-left: 10px;
    }
  }
}

.default {
  background-color: $colour-secondary;

  &:hover {
    background-color: lighten(15%);
  }
}

.error {
  background-color: $colour-error;

  &:hover {
    background-color: lighten(15%);
  }
}

.info {
  background-color: $colour-info;

  &:hover {
    background-color: lighten(15%);
  }
}

.success {
  background-color: $colour-success;

  &:hover {
    background-color: lighten(15%);
  }
}

.warning {
  background-color: $colour-warning;

  &:hover {
    background-color: lighten(15%);
  }
}