.btn {
  margin-top: 15px;
  width: 100%;
  color: $colour-white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $colour-secondary;
}

.error {
  background-color: $colour-error;
}

.info {
  background-color: $colour-info;
}

.success {
  background-color: $colour-success;
}

.warning {
  background-color: $colour-warning;
}

@media (min-width: $medium-screen) {

  .btn {
    padding: 10px 30px;
  }

  .btn+.btn {
    margin-left: 10px;
  }

}