.nav {
  padding-left: 0;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;

  &-link {
    text-align: center;
    border-radius: $border-radius;
    padding: 10px 0;
    display: block;
    width: 100%;
    transition:
      background-color .2s ease-in-out,
      color .2s ease-in-out;
  }

  &-link:hover {
    color: $colour-white;
    background-color: $colour-primary;
  }

  @include mq(md) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    &-link {
      flex-basis: 100px;
    }
  }

}